<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OAService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <OAService.Properties.Settings>
            <setting name="OAService_WebReference_OaWebService" serializeAs="String">
                <value>http://192.168.1.88:8086/OaWebService.asmx</value>
            </setting>
        </OAService.Properties.Settings>
    </applicationSettings>
  <appSettings>    
    <add key="LOGPATH" value="C:\\\OASAPLOG\"/>
    <add key="timer141" value="60" /><!--子公司办公室人员请假流程-->
    <add key="timer142" value="60" /><!--门店店长请假流程-->
    <add key="timer145" value="60"/><!--门店店员及药师请假流程-->
    <add key="timer146" value="60"/><!--办公室人员加班申请流程（在子公司内核算）-->
    <add key="timer147" value="60"/><!--出差流程-->
    <add key="timer149" value="60"/><!--门店人员加班-->
    <add key="timer154" value="60"/><!--补考勤流程-->
    <add key="timer168" value="60"/><!--办公室人员辞职-->
    <add key="timer169" value="60"/><!--门店人员离职流程-->
    <add key="timer173" value="60"/><!--多成本中心&单费用科目-->
    
    <add key="timer175" value="60"/><!--门店人员加班流程（代申请）-->
    <add key="timer177" value="60"/><!--门店店员及药师请假（代请）-->
    <add key="timer178" value="60"/><!--补考勤流程（代请 )-->
    <add key="timer179" value="60"/><!--办公室人员加班审批流程（在集团中心核算成本）-->
    <add key="timer180" value="60"/><!--集团中心办公室人员请假-->
    <add key="timer181" value="60"/><!--门店店员出差流程（代请）-->
    
  </appSettings>
</configuration>