<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JZWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <httpModules/>
    <webServices>
      <conformanceWarnings>
        <remove name="BasicProfile1_1"/>
      </conformanceWarnings>
    </webServices>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:Default /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:Default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+">
        <providerOption name="CompilerVersion" value="v4.0"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules/>
    <defaultDocument>
      <files>
        <add value="OaWebService.asmx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <applicationSettings>
    <JZWebService.Properties.Settings>
      <setting name="JZWebService_SapOa13Webservice_SI_OA_OA13_OUTService"
        serializeAs="String">
        <value>http://linux-tz11:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OA_OA13_OUT&amp;interfaceNamespace=http%3A%2F%2Fjiuzhou.com%2FOA</value>
      </setting>
      <setting name="JZWebService_SapOa12Webservice_SI_OA_OA12_OUTService"
        serializeAs="String">
        <value>http://linux-tz11:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OA_OA12_OUT&amp;interfaceNamespace=http%3A%2F%2Fjiuzhou.com%2FOA</value>
      </setting>
      <setting name="JZWebService_SapOa17Webservice_SI_OA_OA17_OUTService"
        serializeAs="String">
        <value>http://linux-tz11:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OA_OA17_OUT&amp;interfaceNamespace=http%3A%2F%2Fjiuzhou.com%2FOA</value>
      </setting>
      <setting name="JZWebService_SapOa15Webservice_SI_OA_OA15_OUTService"
        serializeAs="String">
        <value>http://linux-tz11:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OA_OA15_OUT&amp;interfaceNamespace=http%3A%2F%2Fjiuzhou.com%2FOA</value>
      </setting>
      <setting name="JZWebService_SapOa11Webservice_SI_OA_OA11_OUTService"
        serializeAs="String">
        <value>http://linux-tz11:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OA_OA11_OUT&amp;interfaceNamespace=http%3A%2F%2Fjiuzhou.com%2FOA</value>
      </setting>
      <setting name="JZWebService_SapOa14Webservice_SI_OA_OA14_OUTService"
        serializeAs="String">
        <value>http://linux-tz11:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OA_OA14_OUT&amp;interfaceNamespace=http%3A%2F%2Fjiuzhou.com%2FOA</value>
      </setting>
      <setting name="JZWebService_SapOa20Webservice_SI_OA_OA20_OUTService"
        serializeAs="String">
        <value>http://linux-tz11:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OA_OA20_OUT&amp;interfaceNamespace=http%3A%2F%2Fjiuzhou.com%2FOA</value>
      </setting>
      <setting name="JZWebService_SapOa04Webservice_SI_OA_OA04_OUTService"
        serializeAs="String">
        <value>http://linux-tz11:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OA_OA04_OUT&amp;interfaceNamespace=http%3A%2F%2Fjiuzhou.com%2FOA</value>
      </setting>
    </JZWebService.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!--connectstring-->
    <add key="oaconnString" value="Database=td_oa;Data Source=192.168.1.101;Port=3336;UserId=oadb;Password=123456;charset=gbk;"/>
    <!--add key="lmsconnString" value="server=192.168.1.211;uid=sa;pwd=123456;database=ErpCore_Server"/-->
     <!--<add key="lmsconnString" value="server=122.225.11.217,3605;uid=sa;pwd=dada360!2014;database=ErpCore_Server"/>
    <add key="LmsSqlConnString" value="Data Source=192.168.1.108; Initial Catalog=LMSTOZBLS; User ID=sa; Password=123jz456; Pooling=true"/>
    <add key="SrmSqlConnString" value="Data Source=192.168.1.211; Initial Catalog=JZ_SRM; User ID=sa; Password=123456; Pooling=true"/>
    <add key="jzposconnString" value="server=192.168.1.106,13533;uid=sa;pwd=123jz456;database=JZBIDATA"/>
    <add key="laposconnString" value="server=192.168.1.106,13533;uid=sa;pwd=123jz456;database=JZBIDATA"/>
    <add key="qnposconnString" value="server=192.168.1.106,13533;uid=sa;pwd=123jz456;database=JZBIDATA"/>
    <add key="OaSqlConnString" value="Data Source=192.168.1.102; Initial Catalog=zkt; User ID=kq; Password=123jz456; Pooling=true"/>-->
    <add key="oaserver" value="1"/>
     <!--<add key="lmsserver" value="1"/>
    <add key="srmserver" value="1"/>
    <add key="jzposserver" value="1"/>
    <add key="laposserver" value="1"/>
    <add key="qnposserver" value="1"/> -->
    <add key="SAPURLUSER" value="OACONN"/>
    <add key="SAPURLPSW" value="OA1123"/>
    <!--<add key="SAPURLLMSUSER" value="LMSCONN99"/>
    <add key="SAPURLLMSPSW" value="LMS12399"/>
    <add key="SAPURLPOSUSER" value="POSCONN99"/>
    <add key="SAPURLPOSPSW" value="POS12399"/>-->
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>